/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  background-color: var(--main-bg-color);
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  background-color: var(--main-bg-color);
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** En tête *****/
.appBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 79px;
}

.logo {
  width: 70px;
  height: 22px;
  padding: 30px 0px 30px 0px;
}

.appBar_nav {
  display: flex;
  flex-direction: row;
}

.menu {
  display: flex;
  width: 244px;
  height: 35px;
  gap: 60px;
  align-items: flex-end;
}

.menu :hover {
  color: var(--main-color);
}

.line {
  width: 112px;
  padding-top: 12px;
  border-top: solid var(--main-color) 3px;
}

/******** Section filtres ******/

.menu-area {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.header_menu {
  width: 100%;
  height: 53px;
}

.header_menu--title {
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
  text-align: left;
}

.header_menu--paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
  text-align: left;
}

.search_bar {
  display: flex;
  width: 385px;
  height: 49px;

  background: #ffffff;
  border: solid 2px var(--main-bg-color);
  border-radius: 17px;
  margin-top: 30px;
}

.logo_location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
  color: black;
  width: 50px;
  border-radius: 15px 0px 0px 15px;
}

.search_text {
  width: 200px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  text-align: center;
  border: none;
}

.button {
  display: flex;
  align-items: center;
  width: 132px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  padding: 15px 16px 15px 16px;
  gap: 10px;
  border-radius: 0px 15px 15px 0px;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  color: white;
}

.phone-search-logo {
  display: none;
}

.filters-menu {
  display: flex;
  flex-direction: row;
  width: 780px;
  height: 50px;
  gap: 15px;
  margin-top: 5px;
}

.filters-menu-title {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  text-align: center;
}

.filters__column {
  display: flex;
  gap: 12px;
}

.filters {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.filter-settings {
  padding: 4px 18px 4px 18px;
  gap: 10px;
  color: black;
  border-radius: 25px 25px 25px 25px;
}

.economical-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 167px;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  line-height: 19.96px;
  text-align: left;
  background-color: white;
  border: 2px solid #d9d9d9;
}

.filter-logo {
  color: var(--main-color);
  font-size: 20px;
}

.family-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 125px;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  line-height: 19.96px;
  text-align: left;
  background-color: white;
  border: 2px solid #d9d9d9;
}

.romantic-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 160px;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  line-height: 19.96px;
  text-align: left;
  background-color: white;
  border: 2px solid #d9d9d9;
}

.nugget-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 163px;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  line-height: 19.96px;
  text-align: left;
  background-color: white;
  border: 2px solid #d9d9d9;
}

.economical-filter:hover,
.family-filter:hover,
.romantic-filter:hover,
.nugget-filter:hover {
  background: #deebff;
}

.infobar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 30px;
  margin-top: 30px;
}

.size-logo-info {
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  border: 2px solid #deebff;
}

.info-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

/******* Section Hébergement ********/

.hebergement-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card-size {
  width: 250px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements img {
  width: 100%;
  height: 120px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergement-card-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
  text-align: left;
  padding: 0px 15px 0px 15px;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 6px;
}

.hebergement-card-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.44px;
  text-align: left;
  padding: 0px 15px 0px 15px;
  margin: 0;
}

.hebergement-card-rating {
  margin: 6px 0px 5px 0px;
  padding: 0px 15px 0px 15px;
  justify-content: left;
}

.hebergement-txt {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  text-align: left;
  padding-top: 30px;
}

/********* Section Activités *********/

.activity {
  width: 100%;
  height: 559.02px;
  padding: 30px 0px 40px 0px;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.activity-txt {
  font-size: 22px;
  font-weight: 700;
  line-height: 25.83px;
  text-align: left;
  padding: 15px 0px 0px 28px;
}

.activity-card {
  width: 100%;
  height: 439px;
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.photo-card {
  background-color: white;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activity-cards-size {
  width: 297.5px;
  height: 439px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.photo-size {
  object-fit: cover;
  width: 100%;
  height: 92%;
  border-radius: 20px 20px 0px 0px;
}

.activity-card-txt {
  font-size: 16px;
  font-weight: 700;
  line-height: 18.78px;
  text-align: left;
  padding-left: 10px;
}

/******** Zone Footer ********/

.footer-area {
  width: 100%;
  height: 175px;
  background: #f2f2f2;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.footer-card {
  width: 446.67px;
  height: 163px;
  padding: 10px 0px 0px 0px;
  gap: 15px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.13px;
  text-align: left;
  padding-left: 28px;
}

.list {
  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  padding-inline-start: 0px;
  padding-left: 28px;
  list-style-type: none;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .search_bar {
    display: flex;
    width: 372px;
    height: 49px;
    margin-top: 40px;
  }

  .search_text {
    width: 187px;
  }

  .filters-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
  }

  .filters-menu-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    text-align: left;
    margin: 0px;
  }

  .infobar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-top: 35px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .card-size {
    width: 30%;
  }

  .card-hebergement-title {
    font-size: 14px;
  }

  .card-hebergement-subtitle {
    font-size: 13px;
  }

  .activity {
    width: 100%;
    height: 390px;
  }

  .activity-cards-size {
    width: 100%;
    height: 270px;
  }

  .photo-size {
    width: 100%;
    height: 85%;
  }

  .activity-card-txt {
    font-size: 14px;
    align-items: center;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */

  body {
    margin: 0;
    padding: 0;
  }

  .main-container {
    width: 100%;
    max-width: 767.98px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .appBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 115px;
  }

  .logo {
    margin: 10px 0px 10px 0px;
  }

  .appBar_nav {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 0;
  }

  .line {
    display: flex;
    justify-content: center;
    width: 50%;
    padding-bottom: 20px;
    border-bottom: solid var(--main-color) 4px;
    border-top: none;
  }

  .grey_line {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px 0px 20px 0px;
    border-bottom: solid var(--main-bg-color) 4px;
  }

  .menu-area {
    margin-top: 20px;
    width: 100%;
    gap: 35px;
  }

  .header_menu {
    width: 100%;
    height: 79px;
    padding-top: 20px;
  }

  .header_menu--title {
    padding-left: 32px;
  }

  .header_menu--paragraph {
    padding-left: 32px;
  }

  .search_bar {
    width: calc(100% - 20px);
    margin: 30px 0px 0px 10px;
  }

  .search_text {
    width: calc(100% - 99px);
  }

  .button {
    width: 49px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
  }

  .phone-search-logo {
    display: initial;
    color: white;
  }

  .text-button-search {
    display: none;
  }

  .filters-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180px;
    gap: 15px;
  }

  .filters-menu-title {
    padding-left: 20px;
  }

  .filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .filters__column {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .economical-filter,
  .family-filter,
  .romantic-filter,
  .nugget-filter {
    width: 162.5px;
    font-size: 14px;
  }

  .family-filter {
    gap: 16px;
  }

  .romantic-filter {
    gap: 12px;
  }

  .infobar {
    padding: 0px 0px 20px 10px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .hebergements-and-populaires section {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
  }

  .hebergements {
    background-color: white;
  }

  .card-size {
    width: 100%;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .populaires {
    order: -1;
    margin-top: 20px;
  }

  .activity {
    height: 965.02px;
    padding-top: 0px;
    padding-bottom: 10px;
    gap: 30px;
  }

  .activity-txt {
    margin-bottom: 0px;
  }

  .activity-card {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }

  .activity-cards-size {
    width: 90%;
    height: 200px;
  }

  .footer-area {
    flex-direction: column;
    margin-top: 40px;
    height: 460px;
    width: 100%;
  }

  .footer-card {
    width: 100%;
  }
}
